<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Twister</display-name>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.user.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>servlet.user.CreateUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.user.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFriend</servlet-name>
    <servlet-class>servlet.friends.AddFriend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteFriend</servlet-name>
    <servlet-class>servlet.friends.DeleteFriend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListFriends</servlet-name>
    <servlet-class>servlet.friends.ListFriends</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>AddMessage</servlet-name>
    <servlet-class>servlet.message.AddMessage</servlet-class>
  </servlet> 
   <servlet>
    <servlet-name>DeleteMessage</servlet-name>
    <servlet-class>servlet.message.DeleteMessage</servlet-class>
  </servlet> 
   <servlet>
    <servlet-name>ListMessages</servlet-name>
    <servlet-class>servlet.message.ListMessages</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/user/createUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/friends/addFriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFriend</servlet-name>
    <url-pattern>/friends/deleteFriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListFriends</servlet-name>
    <url-pattern>/friends/listFriends</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AddMessage</servlet-name>
    <url-pattern>/message/addMessage</url-pattern>
  </servlet-mapping> 
   <servlet-mapping>
    <servlet-name>DeleteMessage</servlet-name>
    <url-pattern>/message/deleteMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListMessages</servlet-name>
    <url-pattern>/message/listMessages</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>